<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Gerenciamento de Tipo de Clientes</h3>
      </div>

      <div class="panel-body">
        <div class="table-wrapper" ng-if="finishLoad">
          <div class="btn-toolbar">
            <div class="btn-group focus-btn-group">
              <a href="{{new_object_path}}" class="btn btn-default"><span class="fa-plus-circle"></span> Inserir novo registro</a>
            </div>
          </div>

          <div class="row" ng-if="collection.length==0">
            <div class="col-md-12">
              <div class="alert alert-info text-center">Nenhum registro encontrado, para inserir um novo registro clique no botão acima.</div>
            </div>
          </div>

          <div class="table-responsive" ng-if="collection.length > 0">
            <table cellspacing="0" class="table table-small-font table-bordered table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nome</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="client_type in collection">
                  <th>{{ client_type.id }}</th>
                  <td>{{ client_type.name }}</td>
                  <td>
                    <a href="{{edit_object_path( client_type )}}" class="btn btn-secondary btn-sm btn-icon icon-left">Editar</a>
                    <a href="" ng-click="destroy( client_type );" class="btn btn-danger btn-sm btn-icon icon-left">Excluir</a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

        <div class="row" ng-if="collection.length > 0">
          <div class="col-xs-12 text-center">
            <pagination
            items-per-page="pagination.perPage"
            ng-change="pagination.pageChanged()"
            total-items="pagination.totalItems"
            ng-model="pagination.currentPage"
            max-size="pagination.maxSize"
            class="dataTables_paginate paging_simple_numbers"
            boundary-links="true"
            previous-text="Anterior"
            next-text="Próximo"
            first-text="Primeiro"
            last-text="Último">
          </pagination>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
