
<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Nome</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" ng-model="client.name" placeholder="Nome do cliente">
  </div>
</div>

<div class="form-group-separator"></div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Identificação</label>
    <div class="col-sm-3">
    <select class="form-control" ng-model="client.clientType.id" ng-options="client_type.id as client_type.name for client_type in client_types">
    </select>
  </div>

  <div class="col-sm-7">
    <input type="text" class="form-control" ng-model="client.cpfCnpj" placeholder="CPF ou CNPJ">
  </div>
</div>

<div class="form-group-separator"></div>
<div class="form-group">
  <label class="col-sm-2 control-label">Endereço</label>
  <div class="col-sm-2">
    <select class="form-control" ng-model="client.address.streetSuffix.id" ng-options="street_suffix.id as street_suffix.name for street_suffix in street_suffixes">
    </select>
  </div>
  <div class="col-sm-4">
    <input type="text" class="form-control" ng-model="client.address.address" placeholder="Endereço">
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="client.address.buildingNumber" placeholder="Número">
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="client.address.secondaryAddress" placeholder="Complemento">
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4 col-sm-offset-2">
    <input type="text" class="form-control" ng-model="client.address.neighborhood"  placeholder="Bairro">
  </div>
  <div class="col-sm-2">
    <select class="form-control">
      <option>Cidade</option>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
      <option>Option 5</option>
    </select>
  </div>
  <div class="col-sm-2">
    <select class="form-control">
      <option>Estado</option>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
      <option>Option 5</option>
    </select>
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="client.address.zipcode" placeholder="CEP">
  </div>
</div>

<div class="form-group-separator"></div>

<div class="form-group" ng-repeat="contact_phone in client.address.contactPhones">
  <label class="col-sm-2 control-label" for="field-1">Telefone</label>
  <div class="col-sm-1">
    <input type="text" class="form-control" ng-model="contact_phone.areaCode" placeholder="DDD">
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="contact_phone.phoneNumber" placeholder="Telefone">
  </div>
  <div class="col-sm-3">
    <input type="text" class="form-control" ng-model="contact_phone.extension" placeholder="Ramal">
  </div>
  <div class="col-sm-1">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="contact_phone.is_fax" ng-true-value="1" ng-false-value="0">
        Fax
      </label>
    </div>
  </div>
  <div class="col-sm-offset-1 col-sm-2">
    <button class="btn btn-danger btn-single">Remover</button>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-3">
    <button class="btn btn-secondary btn-single">Adicionar novo Telefone</button>
  </div>
</div>

<div class="form-group-separator"></div>


<div class="form-group" ng-repeat="contact_email in client.address.contactEmails">
  <label class="col-sm-2 control-label" for="field-1">Email</label>
  <div class="col-sm-4">
    <input type="text" class="form-control" ng-model="contact_email.email" placeholder="Email">
  </div>
  <div class="col-sm-4">
    <input type="text" class="form-control" ng-model="contact_email.contact" placeholder="Contato">
  </div>
  <div class="col-sm-2">
    <button class="btn btn-danger btn-single">Remover</button>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-3">
    <button class="btn btn-secondary btn-single">Adicionar novo Email</button>
  </div>
</div>

<div class="form-group-separator"></div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Segmento</label>
  <div class="col-sm-10">
    <select class="form-control" ng-model="client.segment.id" ng-options="segment.id as segment.name for segment in segments">
    </select>
  </div>
</div>

<div class="form-group-separator"></div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Responsável</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" ng-model="client.responsible" />
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Diretor</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" ng-model="client.director" />
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Contador</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" ng-model="client.accountant" />
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Grupo</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" ng-model="client.group" />
  </div>
</div>

<div class="form-group-separator"></div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Funcionário</label>
  <div class="col-sm-10">
    <select class="form-control" ng-model="client.employee.id" ng-options="employee.id as employee.name for employee in employees">
    </select>
  </div>
</div>

<div class="form-group-separator"></div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Observações</label>
    <div class="col-sm-10">
    <textarea class="form-control" ng-model="client.observation" rows="5"></textarea>
  </div>
</div>
