
<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Nome</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" ng-model="client.name" placeholder="Nome do cliente">
  </div>
</div>


<div class="form-group-separator"></div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Identificação</label>
    <div class="col-sm-3">
    <select class="form-control" ng-model="client.clientType.id" ng-options="client_type.id as client_type.name for client_type in client_types">
    </select>
  </div>

  <div class="col-sm-7">
    <input type="text" class="form-control" ng-model="client.cpfCnpj" placeholder="CPF ou CNPJ">
  </div>
</div>

<div class="form-group-separator"></div>
<div class="form-group">
  <label class="col-sm-2 control-label">Endereço</label>
  <div class="col-sm-2">
    <select class="form-control" ng-model="client.address.streetSuffix.id" ng-options="street_suffix.id as street_suffix.name for street_suffix in street_suffixes">
    </select>
  </div>
  <div class="col-sm-4">
    <input type="text" class="form-control" ng-model="client.address.address" placeholder="Endereço">
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="client.address.buildingNumber" placeholder="Número">
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="client.address.secondaryAddress" placeholder="Complemento">
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4 col-sm-offset-2">
    <input type="text" class="form-control" ng-model="client.address.neighborhood"  placeholder="Bairro">
  </div>
  <div class="col-sm-2">
    <select class="form-control">
      <option>Cidade</option>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
      <option>Option 5</option>
    </select>
  </div>
  <div class="col-sm-2">
    <select class="form-control">
      <option>Estado</option>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
      <option>Option 5</option>
    </select>
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control" ng-model="client.address.zipcode" placeholder="CEP">
  </div>
</div>

<div class="form-group-separator"></div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="field-1">Telefones</label>
  <div class="col-sm-1">
    <input type="text" class="form-control" placeholder="DDD">
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control" placeholder="Telefone">
  </div>
  <div class="col-sm-3">
    <input type="text" class="form-control" placeholder="Ramal">
  </div>
  <div class="col-sm-1">
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Fax
      </label>
    </div>
  </div>
  <div class="col-sm-offset-1 col-sm-2">
    <button class="btn btn-danger btn-single">Remover</button>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-1">
    <input type="text" class="form-control" placeholder="DDD">
  </div>
  <div class="col-sm-2">
    <input type="text" class="form-control" placeholder="Telefone">
  </div>
  <div class="col-sm-3">
    <input type="text" class="form-control" placeholder="Ramal">
  </div>
  <div class="col-sm-1">
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Fax
      </label>
    </div>
  </div>
  <div class="col-sm-offset-1 col-sm-2">
    <button class="btn btn-danger btn-single">Remover</button>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-3">
    <button class="btn btn-secondary btn-single">Adicionar novo Telefone</button>
  </div>
</div>

<div class="form-group-separator"></div>