<div class="row">
  <div class="col-sm-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Inserir novo cliente</h3>
      </div>
      <div class="panel-body">

        <form role="form" class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label" for="field-1">Nome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="field-1" placeholder="Nome do cliente">
            </div>
          </div>

          <div class="form-group-separator"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Tipo do cliente</label>
            <div class="col-sm-10">
              <select class="form-control">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
              </select>
            </div>
          </div>

          <div class="form-group-separator"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="field-1">Identificação</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="field-1" placeholder="CNPJ">
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="field-1" placeholder="CPF">
            </div>
          </div>

          <div class="form-group-separator"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Endereço</label>
            <div class="col-sm-2">
              <select class="form-control">
                <option>Logradouro</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
              </select>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="field-1" placeholder="Endereço">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="field-1" placeholder="Número">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="field-1" placeholder="Complemento">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <input type="text" class="form-control" id="field-1" placeholder="Bairro">
            </div>
            <div class="col-sm-2">
              <select class="form-control">
                <option>Cidade</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
              </select>
            </div>
            <div class="col-sm-2">
              <select class="form-control">
                <option>Estado</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
              </select>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="field-1" placeholder="CEP">
            </div>
          </div>

          <div class="form-group-separator"></div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="field-1">Telefones</label>
            <div class="col-sm-1">
              <input type="text" class="form-control" id="field-1" placeholder="DDD">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="field-1" placeholder="Telefone">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="field-1" placeholder="Ramal">
            </div>
            <div class="col-sm-1">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  Fax
                </label>
              </div>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
              <button class="btn btn-danger btn-single">Remover</button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-1">
              <input type="text" class="form-control" id="field-1" placeholder="DDD">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="field-1" placeholder="Telefone">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="field-1" placeholder="Ramal">
            </div>
            <div class="col-sm-1">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  Fax
                </label>
              </div>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
              <button class="btn btn-danger btn-single">Remover</button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
              <button class="btn btn-secondary btn-single">Adicionar novo Telefone</button>
            </div>
          </div>

          <div class="form-group-separator"></div>


        </form>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(function(){ cbr_replace(); });
</script>