<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{jornal.name}}</h3>
      </div>
      <div class="panel-body">

        <ul class="list-unstyled user-info-list">
          <li><strong>Contato:</strong> {{jornal.contact}}</li>
          <li><strong>Estado:</strong> {{jornal.state.name}}</li>

          <li><strong>Observação:</strong> {{jornal.observation}}</li>
        </ul>

        <a href="javascript:history.back(-1)" class="btn btn-large btn-info">Voltar para listagem</a>
      </div>
    </div>
  </div>
</div>