      <div class="sidebar-menu-inner">  
        
        <header class="logo-env">
          
          <!-- logo -->
          <div class="logo">
            <a href="#/" class="logo-expanded">
              <img src="assets/images/logo@2x.png" width="160" alt="" />
            </a>
            
            <a href="#/" class="logo-collapsed">
              <img src="assets/images/logo-collapsed@2x.png" width="40" alt="" />
            </a>
          </div>
          
          <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
          <div class="mobile-menu-toggle visible-xs">
            <a href="" sidebar-toggle-mobile-menu>
              <i class="fa-bars"></i>
            </a>
          </div>
                
        </header>
            

            
        <ul id="main-menu" class="main-menu">
          <!-- add class "multiple-expanded" to allow multiple submenus to open -->
          <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
          <!-- <li class="opened active"> -->

          <li ng-class="{active: menu.is('dashboard')}">
            <a href="#/">
              <i class="linecons-shop"></i>
              <span class="title">Inicio</span>
            </a>
          </li>

          <li ng-class="{active: menu.is('atendimentos')}">
            <a href="#/atendimento">
              <i class="linecons-comment"></i>
              <span class="title">Atendimento</span>
            </a>
          </li>

          <li ng-class="{active: menu.is('diagramacao')}">
            <a href="#/diagramacao">
              <i class="linecons-doc"></i>
              <span class="title">Diagramação</span>
            </a>
          </li>

          <li ng-class="{active: menu.is('revisao')}">
            <a href="#/revisao">
              <i class="linecons-eye"></i>
              <span class="title">Revisão</span>
            </a>
          </li>

          <li ng-class="{active: menu.is('midia')}">
            <a href="#/midia">
              <i class="linecons-inbox"></i>
              <span class="title">Mídia</span>
            </a>
          </li>

          <li ng-class="{active: menu.is('clientes')}">
            <a href="#/clientes">
              <i class="linecons-user"></i>
              <span class="title">Clientes</span>
            </a>
          </li>

          <li class="has-sub">
            <a href="">
              <i class="linecons-params"></i>
              <span class="title">Administração</span>
            </a>

            <ul>

              <li ng-class="{active: menu.is('funcionarios')}">
                <a href="#/funcionarios">
                  <span class="title">Funcionarios</span>
                </a>
              </li>

              <li ng-class="{active: menu.is('jornais')}">
                <a href="#/jornais">
                  <span class="title">Jornais</span>
                </a>
              </li>

              <li ng-class="{active: menu.is('diarios_oficiais')}">
                <a href="#/diarios_oficiais">
                  <span class="title">Diarios Oficiais</span>
                </a>
              </li>

              <li ng-class="{active: menu.is('materiais')}">
                <a href="#/materiais">
                  <span class="title">Materiais</span>
                </a>
              </li>

              <li ng-class="{active: menu.is('segmentos')}">
                <a href="#/segmentos">
                  <span class="title">Segmentos</span>
                </a>
              </li>

              <li ng-class="{active: menu.is('publicacoes')}">
                <a href="#/publicacoes">
                  <span class="title">Publicações</span>
                </a>
              </li>

              <li ng-class="{active: menu.is('retrancas')}">
                <a href="#/retrancas">
                  <span class="title">Retrancas</span>
                </a>
              </li>
            </ul>
          </li>          

          <li class="has-sub">
            <a href="">
              <i class="linecons-cog"></i>
              <span class="title">Configurações</span>
            </a>

            <ul>
              <li ng-class="{active: menu.is('logradouros')}">
                <a href="#/funcionarios">
                  <span class="title">Logradouros</span>
                </a>
              </li>

              <li ng-class="{active: menu.is('logradouros')}">
                <a href="#/funcionarios">
                  <span class="title">Estados</span>
                </a>
              </li>

              <li ng-class="{active: menu.is('logradouros')}">
                <a href="#/funcionarios">
                  <span class="title">Tipos de cliente</span>
                </a>
              </li>
              
              <li ng-class="{active: menu.is('logradouros')}">
                <a href="#/funcionarios">
                  <span class="title">Grupos de Usuários</span>
                </a>
              </li>
            </ul>
          </li>

        </ul>
            
      </div>
